{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <link rel="stylesheet" href="{% static 'articles/css/bootstrap.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon blog{% endblock %}</title>
</head>
<body class="container">
    
    {% include "articles/navbar.html" %}
    
    {% block content %}{% endblock %}

    <script src="{% static 'articles/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>